<div>
  <h2>Add Post</h2>
  <form [formGroup]="editPostForm" (ngSubmit)="onSubmit()">
    <!-- Text Field -->
    <div>
      <label for="title">Title:</label>
      <textarea id="title" formControlName="title"></textarea>
      <div *ngIf="editPostForm.get('text')?.touched && editPostForm.get('text')?.hasError('required')" class="text-red-500 text-sm mt-1">Title is required</div>
    </div>
    <!-- Text Field -->
    <div>
      <label for="text">Text:</label>
      <textarea id="text" formControlName="text"></textarea>
      <div *ngIf="editPostForm.get('text')?.touched && editPostForm.get('text')?.hasError('required')" class="text-red-500 text-sm mt-1">Text is required</div>
    </div>

    <!-- Author Field -->
    <div>
      <label for="author">Author:</label>
      <input type="text" id="author" formControlName="author"/>
      <div *ngIf="editPostForm.get('author')?.touched && editPostForm.get('author')?.hasError('required')" class="text-red-500 text-sm mt-1">Author is required</div>
    </div>

    <!-- Category Field -->
    <div>
      <label for="category">Category:</label>
      <input type="text" id="category" formControlName="category"/>
      <div *ngIf="editPostForm.get('category')?.touched && editPostForm.get('category')?.hasError('required')" class="text-red-500 text-sm mt-1">
        Category is required
      </div>
    </div>

    <!-- Is Concept Checkbox -->
    <div>
      <label for="isConcept" >Is Concept:</label>
      <button type="button" id="isConcept" (click)="toggleIsConcept()">{{ editPostForm.get('isConcept')?.value ? 'True' : 'False' }}</button>
    </div>

    <!-- Submit Button -->
    <button type="submit" [disabled]="!editPostForm.valid">Edit Post</button>
  </form>
</div>
