<div class="filter-container">
  <form #filterForm="ngForm" (ngSubmit)="onSubmit(filterForm)">
    <div class="filter-form">
      <input
        type="text"
        placeholder="Search by Title"
        name="title"
        [(ngModel)]="filter.title"
        class="filter-input"
      />
      <input
        type="text"
        placeholder="Search by Text"
        name="text"
        [(ngModel)]="filter.text"
        class="filter-input"
      />
      <input
        type="text"
        placeholder="Search by Author"
        name="author"
        [(ngModel)]="filter.author"
        class="filter-input"
      />
      <input
        type="text"
        placeholder="Search by Category"
        name="category"
        [(ngModel)]="filter.category"
        class="filter-input"
      />
      <button type="submit" class="filter-button">Search</button>
    </div>
  </form>
</div>
